@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html {
  font-size: 62.5%;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

#mainIndex {
  overflow-x: hidden;
}

.nav {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

.heightImg {
  height: 100%;
}

.h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: whitesmoke;
}

.h2 {
  font-size: 3rem;
  font-weight: 300;
  color: whitesmoke;
}

.h3 {
  font-size: 2rem;
  font-weight: 300;
  animation-name: textAppear;
  animation-duration: 2s;
  animation-timing-function: ease;
  text-decoration-color: whitesmoke;
}

.textAlignRight {
  text-align: right;
}

.textCenter {
  text-align: center;
  margin-bottom: 2rem;
}

.videoMode {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow-x: hidden;
}

.noMarginTop {
  margin-top: 0rem;
}

.flechArriba {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.flechArribaMultimedia {
  text-align: center;
  margin-top: 1rem;
}

.titleMarginB {
  margin-bottom: 2rem;
}

/*Inicio*/
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.textoEncima {
  position: absolute;
  top: 40%;
  rigth: 60%;
  color: whitesmoke;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  max-width: 50%;
}

/*NOSOTROS*/
/*Nuestra Historia*/
.nuestraHistoriaText {
  line-height: 4rem;
  font-size: 2.3rem;
  margin-right: 3rem;
}

.divTaller {
  width: 150%;
  height: auto;
}

/*nosotros2*/
.nosotros2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fundadores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: space-around;
  font-size: 2rem;
}

.fundadoresFigure {
  text-align: center;
  margin: 3rem;
}

.fundadoresNombres {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.fundadoresFrase {
  margin-top: 3rem;
}

.imgResponsive1 {
  height: 48rem;
}

/*Trabaja con Nosotros*/
.titleTrabajaNosotros {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.titleTrabajaNosotros2 {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.articleTrabajaNosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.divTrabajaNosotros {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 4rem;
  text-align: left;
}

.divTrabajaNosotros2 {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: left;
}

.ulTrabajaNosotros {
  font-size: 1.8rem;
  font-weight: 300;
  list-style: none;
  text-align: left;
}

.logoLinkedIn {
  text-align: center;
  margin: 5rem 0rem;
}

/*GRADIENT*/
.fondo {
  background: rgb(253, 253, 253);
  background: linear-gradient(118deg, rgba(253, 253, 253, 0) 0%, rgba(221, 220, 220, 0.236029446) 63%, rgba(232, 232, 232, 0.3956933115) 85%);
}

.fondo2 {
  background: rgb(253, 253, 253);
  background: linear-gradient(180deg, rgba(253, 253, 253, 0) 0%, rgba(221, 220, 220, 0.236029446) 63%, rgba(232, 232, 232, 0.3956933115) 85%);
}

.fondo3 {
  background: rgb(253, 253, 253);
  background: linear-gradient(232deg, rgba(253, 253, 253, 0) 0%, rgba(221, 220, 220, 0.236029446) 63%, rgba(232, 232, 232, 0.3956933115) 85%);
}

.fondoT {
  background: rgba(255, 255, 255, 0);
}

/*ANIMACIONES*/
@keyframes textAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes AnimationTitle {}
.textAppear {
  animation-name: textAppear;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.nav div {
  background: rgb(240, 240, 240);
  text-align: center;
}
.nav ul {
  background: rgba(220, 220, 220, 0.5);
  list-style: none;
  text-align: center;
  font-size: 0;
}
.nav ul li {
  display: inline-block;
  margin-right: 5rem;
  position: relative;
}
.nav ul li:nth-of-type(1) a:hover {
  border-bottom: 0.2rem solid;
  border-bottom-color: #FF3E74;
}
.nav ul li:nth-of-type(2) a:hover {
  border-bottom: 0.2rem solid;
  border-bottom-color: #B43EFF;
}
.nav ul li:nth-of-type(3) a:hover {
  border-bottom: 0.2rem solid;
  border-bottom-color: #3EE6FF;
}
.nav ul li:nth-of-type(4) a:hover {
  border-bottom: 0.2rem solid;
  border-bottom-color: #3EFF5E;
}
.nav ul li:nth-of-type(5) a:hover {
  border-bottom: 0.2rem solid;
  border-bottom-color: #FFF43E;
}
.nav ul li:nth-of-type(5) {
  margin-right: 0rem;
}
.nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  border-bottom: 0.2rem solid;
  border-bottom-color: transparent;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
body header {
  background: rgb(240, 240, 240);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
body main {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
body main section {
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem 3rem;
  color: whitesmoke;
  margin: 4rem 2rem;
  padding: 1 rem;
}
body main section article {
  display: flex;
  flex-direction: row;
  margin: 1 rem;
  padding: 1 rem;
  align-items: center;
  line-height: 2.4rem;
}

footer {
  background: rgba(230, 230, 230, 0.4);
  text-align: center;
}

/*GRIDS*/
/*Index*/
.gridIndex {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "nav" "main" "footer";
}

/*GridArea*/
#principio {
  grid-area: nav;
}

#mainIndex {
  grid-area: main;
  overflow-y: hidden;
}

#footer {
  grid-area: footer;
}

/*Nosotros*/
.gridNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "nav" "main" "footer";
}

/*Grid Areas*/
#principio {
  grid-area: nav;
}

#nosotrosMain {
  grid-area: main;
  max-width: 100%;
}

#footer {
  grid-area: footer;
}

/*QUERYS*/
@media screen and (max-width: 1024px) {
  /*GENERAL*/
  aside {
    display: none;
  }

  /*NOSOTROS*/
  .contenedorNuestraHistoria {
    display: flex;
    flex-direction: column;
  }

  .divTaller {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 624px) {
  /*GENERAL*/
  aside {
    display: none;
  }

  /*INICIO*/
  .textoEncima {
    right: 40%;
    text-align: left;
  }

  /*NOSOTROS*/
  #nosotros624px {
    display: none;
  }

  .fundadores {
    display: flex;
    flex-direction: column;
  }

  #trabaja1 {
    display: none;
  }

  .logoLinkedIn {
    margin: 1rem;
  }

  .titleTrabajaNosotros2 {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  /*GENERAL*/
  aside {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  /*INICIO*/
  #titleNuestraHistoria {
    text-align: center;
  }

  /*NOSOTROS*/
  #nosotrosFull {
    display: none;
  }

  #nosotros320px {
    text-align: left;
  }
}

/*# sourceMappingURL=main.css.map */
